body {
    font-family: 'Barlow', sans-serif;
    /* font-family: 'Alegreya Sans SC', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
    margin-top: 75px;
    color: #3E2D29;
}

p {
    margin-top: 1rem;
    /* text-align: center; */
}

img {
    width: 100%;
    height: auto;
}
.card {
    border: none;
}
#logo {
    width: 60px;
    height: 60px;
    padding: 0px;
    margin: 0px;
}

.navbar {
    width: 100%;
    background-color: #C69889;
    position: fixed;
    text-transform: uppercase;
    
}

.navbar-toggler {
    color: #30011E;
}
#mainNavbar .nav-link {
    margin: 10px;
    color: #743B32;
}

#mainNavbar li a:hover {
    color: #F0E3CE;
    /* font-weight: 600; */
}

.jumbotron {
    height: 300px;
    width: 100%;
    background-image: url("../img/background.jpg");
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 1.2rem;
    color: black;
}

#intro {
    font-size: 1.8rem;
    /* font-weight: 700; */
    color: rgb(0, 0, 0);
    position: absolute;
    left: 0%;
    top: 23%;
    width: 100%;
    text-align: left;
}

#page {
    min-height: 720px;
}
/* #intro {
    font-size: 1.5rem;
} */

/* .display-5 {
    color:#E71D2C;
    font-weight: 700;
    text-transform: uppercase;
} */
.display-4 {
    text-transform: uppercase;
}
h5 {
    text-transform: uppercase;
}

.btn.btn-outline-success {
    color: rgb(24, 22, 49);
    border-color: rgb(24, 22, 49);
}
.btn.btn-outline-success:hover {
    background-color: #C69889;
}

#iconImages {
    color: #743B32;
}